name: CD - Déploiement sur GitHub Pages

on:
  workflow_run:
    workflows: ["CI - Vérification HTML"]
    types:
      - completed

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  deploiement:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Récupération du code
        uses: actions/checkout@v4

      - name: Déploiement vers GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .
